* {
    -fx-main-color: #0C7C59;
    -fx-accent-color: #D64933;
    -fx-dark-color: #2B303A;
    -fx-light-color: rgba(255,255,255, .9);
    -fx-base: white;

    -fx-text-dark: -fx-dark-color;
    -fx-text-fill: -fx-text-dark;

}
.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

.product-card {
    -fx-padding: 8px;
}

.product-card .rectangle {
    visibility: hidden;
}

.order-process-step {
    -fx-background-color: -fx-base;
}

.btn {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-padding: 10;
    -fx-background-radius: 5;
}

.bg {
    -fx-background-color: -fx-base;
}

.main-shop {
    -fx-background-color: -fx-base;
}

.main-shop>* {
    -fx-padding: 8px;
}
.top-bar {
    -fx-padding: 8px 8px 0 8px;
}

.searchbar {
    -fx-background-color: -fx-base;
    -fx-border-color: -fx-main-color;
    -fx-border-width: 2px;
}
.searchbar .text-field {
    -fx-background-color: transparent;
    -fx-alignment: center-right;
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}

.searchbar .font-icon {
    -fx-background-color: -fx-main-color;
    -fx-padding: 0 8px 0 8px;
    -fx-fill: -fx-light-color;
}


.shoppingcart-btn {
    -fx-background-color: -fx-main-color;
    -fx-border-color: -fx-main-color;
    -fx-border-width: 2px;
    -fx-padding: 6px;
}

.shoppingcart-btn .label {
    -fx-text-fill: -fx-base;
}
.shoppingcart-btn .font-icon {
    -fx-padding: 0 8px 0 8px ;
    -fx-fill: -fx-light-color;
}

.cart-row-cell {
    -fx-border-width: 1px 0 0 0;
    -fx-border-color: rgba(0, 0, 0, 0.2);
}
.order-process-step .main-header {
    -fx-font-size: 20px;
}
.confirm-wrapper .header {
    -fx-font-size: 16px;
}
