* {
    -fx-main-color: #0C7C59;
    -fx-accent-color: #D64933;
    -fx-warning-color: -fx-accent-color;
    -fx-dark-color: #2B303A;
    -fx-light-color: rgba(255,255,255, .9);
    -fx-base: white;
    -fx-text-dark: -fx-dark-color;
    -fx-text-fill: -fx-text-dark;
    -fx-snackbar-color: rgba(0,0,0,0.87);

    -fx-snackbar-btn-color: rgba(246, 82, 57, 0.91);
}
.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

.product-flow {
    -fx-background-color: derive(white, -2%);
    -fx-padding: 8px;
}

.product-card {
    -fx-padding: 8px;
    -fx-border-width: 1px;
    -fx-border-color: rgba(0,0,0,0.2);
    -fx-background-color: white;
}

.product-card:hover {
    -fx-border-color: rgba(0,0,0,0.4);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 2, 0, -2, 2);
}

.product-card-text{
    -fx-font-size: 20px;
}

.edit-quantity .btn {
    -fx-font-size: 16px;

}

.edit-quantity .text-field {
    -fx-border-radius: 0;
    -fx-border-width: 1px;
    -fx-background-color: -fx-base;
    -fx-border-color: rgba(0,0,0,0.2);
    -fx-font-size: 16px;
}

.order-process-step {
    -fx-padding: 16px;
    -fx-spacing: 16px;
}

.input-grid {
    -fx-hgap: 12px;
    -fx-vgap: 8px;
}

.profile .input-grid {
    -fx-font-size: 16px;
}

.order-process-step .container {
    -fx-padding: 20px;
    -fx-spacing: 70px;
}

.order-process-step.confirm {
    -fx-font-size: 16px;
}

.order-process-step.confirm .header {
    -fx-font-size: 18px;
}

.order-process-step.confirm .confirm-pane {
    -fx-spacing: 10px;
}

.order-process-step .input-pane {
    -fx-font-size: 16px;
}

.modal-wrapper {
    -fx-padding: 20px;
    -fx-background-color: rgba(0,0,0,0.5);
}

.order-process {
    -fx-background-radius: 5px;
    -fx-padding: 8px;
}

.order-process .btn, .profile .btn {
    -fx-font-size: 20px;
}

.order-process .close {
    -fx-fill: -fx-warning-color;
}

.order-process .close:hover {
    -fx-fill: derive(-fx-warning-color, -20%);
}

.order-process .close:pressed {
    -fx-fill: derive(-fx-warning-color, -40%);
}

.order-history {
    -fx-background-radius: 5px;
    -fx-padding: 8px;
}
.order-history .btn {
    -fx-font-size: 18px;
}

.order-history .close {
    -fx-fill: -fx-warning-color;
}
.order-history .close:hover {
    -fx-fill: derive(-fx-warning-color, -20%);
}

.order-history .close:pressed {
    -fx-fill: derive(-fx-warning-color, -40%);
}

.cart-btn .btn {
    -fx-font-size: 16px;
}

.btn {
    -fx-font-size: 16px;
    -fx-background-color: -fx-base;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-color: -fx-main-color;
    -fx-text-fill: -fx-main-color;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 5, -2, -1, 1);
}

.btn .font-icon {
    -fx-fill: -fx-main-color;
}

.btn:hover {
    -fx-background-color: derive(-fx-main-color, 125%);
}

.btn:pressed {
    -fx-background-color: derive(-fx-main-color, 105%);
}

.btn.btn-default {
    -fx-border-width: 0;
    -fx-background-radius: 4px;
    -fx-background-color: -fx-main-color;
    -fx-text-fill: -fx-base;
}

.btn.btn-default:hover {
    -fx-background-color: derive(-fx-main-color, 30%);
}

.btn.btn-default:pressed {
    -fx-background-color: derive(-fx-main-color, 60%);
}

.btn.btn-default .label {
    -fx-text-fill: -fx-base;
}

.btn.btn-default .font-icon {
    -fx-fill: -fx-base;
}

.btn.btn-warning-outline {
    -fx-text-fill: -fx-warning-color;
    -fx-border-color: -fx-warning-color;
}

.btn.btn-warning-outline .font-icon {
    -fx-fill: -fx-warning-color;
}

.btn.btn-warning-outline:hover {
    -fx-background-color: derive(-fx-warning-color, 105%);
}

.btn.btn-warning-outline:pressed {
    -fx-background-color: derive(-fx-warning-color, 80%);
}

.btn.btn-warning {
    -fx-background-radius: 4px;
    -fx-border-width: 0;
    -fx-background-color: -fx-warning-color;
    -fx-text-fill: -fx-base;
}


.btn.btn-warning:hover {
    -fx-background-color: derive(-fx-warning-color, -20%);
}

.btn.btn-warning:pressed {
    -fx-background-color: derive(-fx-warning-color, -40%);
}

.btn.btn-warning .font-icon {
    -fx-fill: -fx-base;
}

.btn.btn-warning .label {
    -fx-text-fill: -fx-base;
}

.btn.btn-big {
    -fx-font-size: 24px;
}

.bg {
    -fx-background-color: -fx-base;
}

.main-shop {
    -fx-background-color: -fx-base;
}

.main-shop>* {
    -fx-padding: 8px;
}
.top-bar {
    -fx-padding: 8px 8px 0 8px;
}

.searchbar {
    -fx-background-color: -fx-base;
    -fx-border-color: -fx-main-color;
    -fx-border-width: 2px;
}

.searchbar:hover, .searchbar:focused {
    -fx-border-color: derive(-fx-main-color, 30%);
}
.searchbar:hover .font-icon, .searchbar:focused .font-icon{
    -fx-background-color: derive(-fx-main-color, 60%);
}
.searchbar .text-field {
    -fx-background-color: transparent;
    -fx-alignment: center-right;
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
    -fx-font-size: 16px;
}
/**/
.searchbar .font-icon {
    -fx-background-color: -fx-main-color;
    -fx-padding: 0 8px 0 8px;
    -fx-fill: -fx-light-color;
}
.shoppingcart-btn {
    -fx-padding: 0 8px 0 8px;
}

.cart-row-cell {
    -fx-border-width: 1px 0 0 0;
    -fx-border-color: rgba(0, 0, 0, 0.2);
    -fx-padding: 8px;
}


.cart-row-cell .product-name {
    -fx-font-size: 17px;
}

.cart-row-cell .total {
    -fx-font-size: 16px;
}

.cart-row-cell .remove:hover {
    -fx-fill: derive(-fx-warning-color, -20%);
}

.cart-row-cell .remove:pressed {
    -fx-fill: derive(-fx-warning-color, 30%);
}
.order-process-step .main-header {
    -fx-font-size: 20px;
}
.confirm-wrapper .header {
    -fx-font-size: 16px;
}

.category-row {
    -fx-padding: 8px;
}

.category-row .font-icon {
    -fx-fill: derive(-fx-text-dark, 65%);
}
.category-row .label {
    -fx-font-size: 16px;
    -fx-text-fill: derive(-fx-text-dark, 65%);
}

.category-row.selected {
    -fx-background-color: derive(-fx-main-color, 130%);
}
.category-row.selected .label, .category-row.selected .font-icon {
    -fx-fill: -fx-text-dark;
    -fx-text-fill: -fx-text-dark;
}

.category-row:hover .label, .category-row:hover .font-icon {
    -fx-fill: -fx-text-dark;
    -fx-text-fill: -fx-text-dark;
}

.category-row:pressed {
    -fx-background-color: rgba(0,0,0,0.1);
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 20, 0, -20, 20);
}

.panel {
    /*-fx-spacing: 10px;*/
    -fx-border-width: 1px;
    -fx-border-color: rgba(0,0,0,0.15);
    -fx-border-radius: 4px;
}

.panel>.header {
    -fx-font-size: 18px;
    -fx-border-width: 0 0 1px 0;
    -fx-background-color: rgba(0,0,0,0.02);
    -fx-border-color: rgba(0,0,0,0.15);
    -fx-padding: 8px;
}
.panel>.panel-content {
    -fx-padding: 8px;
}

.thanks-screen {
    -fx-background-radius: 5px;
}

.modal {
    -fx-background-radius: 5px;
}
.sequence-map .line {
    -fx-background-color: -fx-base;
    -fx-border-width: 1px 0;
    -fx-border-color: #BBB;
    -fx-max-height: 15px;
}

.sequence-map .line.filled {
    -fx-background-color: -fx-main-color;
}

.sequence-map .circle {
    -fx-fill: -fx-base;
    -fx-stroke: #777;
}

.sequence-map .circle.filled {
    -fx-fill: -fx-main-color;
}

.sequence-map .label {
    -fx-padding: 60px 0 0 0;
    -fx-font-size: 16px;
}

.text-field.error {
    -fx-border-color: -fx-accent-color;
    -fx-border-radius: 4px;
    -fx-effect: none;
}

.tooltip {
    -fx-text-fill: -fx-text-dark;
    -fx-background-color: -fx-light-color;
}

.snackbar {
    -fx-background-color: -fx-snackbar-color;
    -fx-pref-height: 48px;
    -fx-pref-width: 344px;
    -fx-background-radius: 4px;
}

.snackbar .label {
    -fx-font-size: 16px;
    -fx-text-fill: -fx-light-color;
}

.snackbar .button {
    -fx-border-width: 0px;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-snackbar-btn-color;
    -fx-font-size: 16px;
}

.snackbar .button:hover {
    -fx-background-color: rgba(246, 82, 57, 0.18);
}

.snackbar .button:pressed {
    -fx-background-color: rgba(246, 82, 57, 0.30);
}
.prev-order {
    -fx-border-color: rgba(0,0,0,0.2);
    -fx-border-width: 1px;
}

.prev-order .label {
    -fx-font-size: 20px;
    -fx-text-fill: derive(-fx-text-dark, 65%);
}

.prev-order.selected {
    -fx-background-color: derive(-fx-main-color, 130%);
}

.prev-order.selected .label {
    -fx-fill: -fx-text-dark;
    -fx-text-fill: -fx-text-dark;
}

.prev-order:hover .label {
    -fx-fill: -fx-text-dark;
    -fx-text-fill: -fx-text-dark;
}

.prev-order:pressed {
    -fx-background-color: rgba(0,0,0,0.1);
}

.history-product {
    -fx-border-color: rgba(0,0,0,0.2);
    -fx-border-width: 1px 1px 0px 1px;
}

.history-product .label{
    -fx-font-size: 16px;
}

.history-product.last-child {
    -fx-border-width: 1px 1px 1px 1px;
}

.welcome .label{
    -fx-text-fill: -fx-main-color;
}

.total-price {
    -fx-font-size: 26px;
}